.row
  .span1
    %br
    .photo#resize-200= link_to image_tag("soft-identity2.png"), "https://twitter.com/huet_vincent"
  .span4.offset2
    %br
    %h2 Hi Guys & Girls !
    %br
      %p
        .ids
          Identity :
          %strong Vincent Alex Huet
      %p
        .ids
          Gender :
          %strong Male
      %p
        .ids
          Age :
          more than
          %strong 22
      %p
        .ids
          Studies :
          %strong 2008 - 2013 ESIGELEC - GSI - IR
      %p
        .ids
          Work :
          %br
          2010-2013 :
          %strong Apprentice at EDF S.A. CSP-IT-E : KShell & Perl Developper
          %br
          Summer 2012 :
          %strong 3 month internship at Djengo : RubyOnRails Developper

      %p
        .ids
%br
.row
  .span8
    .row
      .span4
        %i Vous avez surement déjà lu un petit paragraphe expliquant la raison d'être de ce site, c'est pourquoi je n'irai pas plus loin ici !
        %br
        %i blabla
        %br
        %i blabla :)
      .span4
        %i now now now now now
        %br
        %i looooool
        %br
        %i So ! Now ! It's time to train yourself !!

