
.row
  .span1
    .home-photo= link_to image_tag("UK_flag_old.png"), "https://twitter.com/huet_vincent"
  .span5.offset1
    %h2 Bienvenue sur "Revise my English Test"
    %h3 Welcome on "Revise my English Test"
%br
.row
  .span8
    .row
      .span4
        %i Ce site a été créé par un étudiant qui voulait un moyen mobile de réviser ses tests de vocabulaire dans sa chère école.
        %br
        %i Afin d'en faire profiter le plus grand nombre, il a publiquement mis en ligne ce site/application.
        %br
        %i Il est maintenant temps de vous entrainer !
      .span4
        %i This site has been built by a student who wanted a mobile an easy way to learn required vocabulary each year.
        %br
        %i In order to massively offer that amazing tool, he put it on the World Wide Web.
        %br
        %i So ! Now ! It's time to train yourself !!

