.photo {
  float: left;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border: solid 2px white;
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
  box-shadow: 0 1px 5px rgba(0,0,0,0.9);
  margin: 20px;
}

.ids {
  font-size: 13px;
}

#home-photo {
    width: 180px;
    height: 100px;
}

#resize-100{
  width: 100px;
  height: 100px;
}

#resize-200{
  width: 200px;
  height: 200px;
}

#resize-300{
  width: 300px;
  height: 300px;
}

#resize-400{
  width: 400px;
  height: 400px;
}

#resize-500{
  width: 500px;
  height: 500px;
}